<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div class="signup-container">
        <h2>Skapa konto</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('signup') }}" method="post">
            <label for="username">Användarnamn</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Lösenord</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Skapa Konto</button>
        </form>
    </div>
</body>
</html>