<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign-in-up.css') }}">
</head>
<body>
    <div class="sign-container">
        <h2>Registrera</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            <label for="username">Användarnamn:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Lösenord:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Registrera</button>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <p>Har du ett konto? <a href="{{ url_for('signin') }}">Logga in</a></p>
    </div>
</body>
</html>